*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    background-color: #3f3e45;
}

.body {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    box-shadow: 20px 20px 50px grey;
}

.left {
    width: 35%;
    background-color: #1e1d25;
}

.avatar {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.avatar img {
    width: 50%;
    border-radius: 50%;
}

.txt_name {
    margin-top: 20px;
    background-color: #f07124;
    width: 100%;
    padding: 20px 0px;
}

.txt_name h1, .txt_name p {
    color: #fff;
    text-align: center;
}

.txt_name p {
    font-size: 24px;
}

.contact {
    margin-top: 50px;
}

.left .title {
    background-color: #fff;
    width: 50%;
    border-radius: 0px 10px 10px 0px;
}

.left .title h3{
    padding: 5px 5px 5px 20px;
    background-color: #f07124;
    border-radius: 0px 10px 10px 0px;
    margin-left: 20%;
    color: #fff;
}

.left .txt {
    margin: 20px 0px 20px 20px;
}

.left i {
    color: #fff;
    padding: 10px;
    width: 40px;
    border-radius: 20%;
    background-color: #f07124;
    margin-right: 10px;
    text-align: center;
}

.left .txt p{
    color: #fff;
    margin: 10px;
}

.right {
    background: #fff;
    padding: 5%;
    width: 65%;
}

.right p {
    font-size: 18px;
}

.right h2 {
    color: #f07124;
}

.target i {
    color: #fff;
    padding: 5px;
    width: 30px;
    background-color: #f07124;
    margin: 10px 10px 0px 0px;
    text-align: center;
}

.target, .education, .exp {
    margin-bottom: 30px;
}

.hr {
    background-color: #f07124;
    height: 2px;
}

.education {
    margin-top: 20px;
}

.date {
    background: #f7f7f7;
    padding: 10px 0px;
    text-align: center;
    margin: 10px 0px;
}

.education .txt, .exp .txt, .achievements .txt {
    border-left: 2px solid #f07124;
    padding-left: 20px;
}

.right p {
    line-height: 32px;
}

.right span {
    font-weight: bold;
}

h4 {
    color: #f07124;
    font-size: 20px;
}

.app {
    display: flex;
}

.item {
    display: flex;
    margin-top: 10px;
    width: 90%;
    justify-content: space-between;
}

.code, .office {
    width: 50%;
}

.office {
    border-left: 3px solid #f07124;
    padding-left: 30px;
}

.office .item {
    width: 100%;
}

.app h2 {
    text-align: center;
}

.app h4 {
    color: #000;
}

.achievements {
    margin-top: 30px;
}